@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

p{
  text-decoration: none;
  font-size: 16px;
}

h2{
  font-family: 'Muli', sans-serif;
  font-size: 3rem;
  color: peachpuff;
}

/* === NAV STYLES === */
.navbar {
  background: transparent;
  height: 8vh;
  min-height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 999;
}

.navLinks {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 50%;
  color: white;
  text-decoration: none;
}

.navLinks a {
  color: rgba(255,2555,255,0.85);
  font-weight: bold;
}

.navLinks a:hover {
  color: rgba(255,2555,255,1);
  text-decoration: underline;
}

/* === SIDE NAVBAR === */
.dots{
  position: fixed;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.dots li{
    display: block;
    border-radius: 50%;
    border: 2px solid black;
    background-color: rgba(255,255,255,1);
    width: 15px;
    height: 15px;
    margin: 10px 0;
    position: relative;
}

.dots a{
  margin-right: 25px;
  font-weight: bold;
  direction: rtl; 
  text-align: right; 
  color: transparent;
}

.dots li:hover{
  background-color: darkslategray;
  /* transform: scale(1.2); */
  color: black;
}

.dots .active{
  background-color: black;
}

/* === Landing === */
.landing {
  background: url("./img/bg-gradient.jpg");
  height: 100vh;
  min-height: 300px;
  background-size: cover;
  background-repeat: none;
}

.headings{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.headings h1{
  font-family: 'Muli', sans-serif;
  text-transform: capitalize;
  font-size: 4rem;
  color: white;
  text-align: center;
}

.headings h2{
  font-family: 'Muli', sans-serif;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.landing-buttons{
  display: block;
  text-align: center;
  padding-top: 20px;
}

/* FROM https://uiverse.io/sekaiking/tidy-starfish-71 */
button {
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

button:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
}

button:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}


/* === ABOUT === */
.about{
  background-color: white;
  height: 100vh;
  min-height: 800px;
}

.row {
  display: flex;
}

.about .column-left {
  flex: 50%;
  padding: 15vh 60px 30px 60px;
}

.about .column-right {
  flex: 50%;
  height: 100vh;
  min-height: 800px;
  background-color: peachpuff;
}

.paragraph{
  text-align: justify;
}

.paragraph p{
  line-height: 25px;   /* within paragraph */
  margin-bottom: 25px; /* between paragraphs */
  font-family: 'Roboto', sans-serif;
}

/* === PROJECTS === */
.projects{
  background-color: white;
  height: 100vh;
  padding: 30px 60px 30px 60px;
}

.projects h2{
  text-align: center;
  color: peachpuff  ;
}

#gallery {
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 30px;
  line-height:0;
  column-count:3;
  column-gap:10px;

}

#gallery img {
  width: 100% !important;
  height: auto !important;
  margin-bottom:5px; /* to match column gap */
  filter: grayscale(100%);
  cursor: pointer;
}

#gallery img:hover {
  filter:none;
}


/* === CONTACT === */
.contact{
  display: flex;
  height: 80vh;
}

.contact h2{
  text-align: center;
  padding-top: 20px;
  color: black;
}

.contact h3{
  text-align: center;
  color: black;
}

footer{
  text-align: center;
  background-color: #ffdab9;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

footer div{
  padding-top: 30px;
}

footer div a{
  color: black;
}

#scroll-up{
  fill: #354264;
  width: 30px;
  height: auto;
  position: absolute;
  left: 50%;
  animation: pulse 2s infinite;
  transform: translate(-50%, 0);
}



/* === RESPONSIVE SCREEN STYLES === */
/* IPAD */
@media only screen and (max-width : 1200px){
  #scroll, .navLinksDots{
    display: none;
  }

  .about, .projects, .contact{
    height: auto;
  }

  .navLinks {
    width: 80%;
  }

  .row{
    display: inline;
  }

  #contact{
    background-color: green;
  }

  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  #gallery {
    column-count: 2;
   }
  
   #gallery img {
    filter: none;
  }
}

/* IPHONE */
@media screen and (max-width: 750px){

  #scroll, .navLinksDots{
    display: none;
  }
  
  .about, .projects, .contact{
    height: auto;
  }

  .landing{
    min-height: 100px;
  }

  .navLinks {
    width: 80%;
  }

  .row{
    display: inline;
  }

  #contact{
    background-color: blue;
  }

  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  #gallery {
    column-count: 1;
   }

   #gallery img {
    filter:none;
  }
}

@media only screen and (max-height : 400px){
  #scroll, .navLinksDots{
    display: none;
  }

  .about .column-right {
    height: 800px;
  }
}


/* === ANIMATIONS === */
#scroll{
  position: absolute;
  top: 85%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 0%);
  animation: fade-in 4s ease forwards;
}

#scroll circle{
  animation: circle-anim 1.5s infinite;
}

@keyframes circle-anim{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translateY(46px)
  }
}

@keyframes fade-in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes pulse{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}